In [1]:
def counting_sheep(friday,saturday,total):
    return total - sum(friday)+sum(saturday)

In [10]:
eh = 'theiv'
eh[:2]

'th'

In [11]:
def splitter(str_):
    splitted = [];
    str_ = str_ + "_"
    print(str_)
    i = 0
    while True:
        splitted.append(str_[i : i + 2])
        i = i + 2

        if i >= (len(str_) - 1):
            break

    return splitted
splitter(eh)

theiv_

['th', 'ei', 'v_']

In [1]:
'ther'.capitalize()

'Ther'

In [2]:
def jaden_case(string):
    return ' '.join([c.capitalize() for c in string.split(' ')])

In [22]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

result = 10000/777

print('{newvar}'.format(newvar = result))

print('the result was {r:1.1f}'.format(r = result))

The quick brown fox
12.87001287001287
the result was 12.9

In [16]:
t = '586.7'
isinstance(t,str)

True

In [64]:
def process_order(order_list):
    """Processes individual orders and returns the value"""
    buy = 0
    sell = 0
    for order in order_list:

        #strip the orders of whitspace and then split
        order = order.strip().split(' ')
        #print(order)
        if order[3] == 'B':
            buy = buy + int(order[1]) * float(order[2])
        if order[3] == 'S':
            sell = sell + int(order[1]) * float(order[2])

    print('Buy: {buy:0.0f} Sell: {sell:0.0f}'.format(buy = buy, sell = sell))


def check_orders(order_list):
    """Checks the individual orders if they are formed as per rules. Check the following
    Name : string
    order : int
    price : float
    type : string"""
    buy = 0
    sell = 0

    for ind, ind_order in enumerate(order_list):
        #strip the orders of whitspace and then split
        order = ind_order.strip().split(' ')
        try:
            order[1] = int(order[1])
            order[2] = float(order[2])

        except:

            print("Buy: {buy:0.0f} Sell: {sell:0.0f}; Badly formed {ind}: {order};{remaining_list};".format(buy = buy, sell = sell, ind = ind, order = ind_order, remaining_list = order_list[ind + 1:][0]))
            return

        if order[3] == 'B':
            buy = buy + int(order[1]) * float(order[2])
        
        if order[3] == 'S':
            sell = sell + int(order[1]) * float(order[2])

    
    print('Buy: {buy:0.0f} Sell: {sell:0.0f}'.format(buy = buy, sell = sell))
        


def balance_stmt(lst):
    if lst == []:
        return "Buy: 0 Sell: 0"

    orders = lst.split(',')

    buy = 0
    sell = 0

    for ind, ind_order in enumerate(orders):
        #strip the orders of whitspace and then split
        order = ind_order.strip().split(' ')
        try:
            order[1] = int(order[1])
            order[2] = float(order[2])

        except:

            print("Buy: {buy:0.0f} Sell: {sell:0.0f}; Badly formed {ind}: {order};{remaining_list};".format(buy = buy, sell = sell, ind = ind, order = ind_order, remaining_list = orders[ind + 1:][0]))
            return

        if order[3] == 'B':
            buy = buy + int(order[1]) * float(order[2])
        
        if order[3] == 'S':
            sell = sell + int(order[1]) * float(order[2])

    
    print('Buy: {buy:0.0f} Sell: {sell:0.0f}'.format(buy = buy, sell = sell))

In [31]:
isinstance('B',str)

True

In [62]:
lOrd = "ZNGA 1300 2.66 B, CLH15.NYM 50 56.32 B, OWW 1000 11.623 B, OGG 20 580.1 B"

balance_stmt(lOrd)

Buy: 29499 Sell: 0

In [65]:
mLor = "GOOG 90 160.45 B, JPMC 67 12.8 S, MYSPACE 24.0 210 B, CITI 50 450 B, CSCO 100 55.5 S"
balance_stmt(mLor)

Buy: 14440 Sell: 858; Badly formed 2:  MYSPACE 24.0 210 B; CITI 50 450 B;

In [9]:
import pandas as pd

def rename_columns(df, names):
    df_out = df.copy(deep=True)
    df_out.columns = list(names)
    return df_out

In [6]:
list('abc')

['a', 'b', 'c']

In [13]:
df = pd.DataFrame(data=[[1,2,3], [4,5,6]], columns=list('123'))
df

   1  2  3
0  1  2  3
1  4  5  6

In [7]:
rename_columns(df,'abc')

   a  b  c
0  1  2  3
1  4  5  6

Fry and then DRY

In [19]:
df[['1','2']].values

array([[1, 2],
       [4, 5]], dtype=int64)

In [20]:
df[['2','3']].values

array([[2, 3],
       [5, 6]], dtype=int64)

In [76]:
def max_common(df_a, df_b): 
    # your code here
    new_df = df_a.copy(deep=True)

    common = data_a.columns.intersection(data_b.columns).values
    
    common_a = df_a.loc[:,common].values
    common_b = df_b.loc[:,common].values
    new_array = []

    for i in range(len(common_a)): #Both df have same row length
        temp = []
        for j in range(len(common)): #the columns will be equal to common columns
            if common_a[i][j] > common_b[i][j]:
                temp.append(common_a[i][j])
            else:
                temp.append(common_b[i][j])
        new_array.append(temp)
        #print(new_array)
    new_df = pd.DataFrame(data=new_array,columns=common)

    cols_use = df_a.columns.difference(new_df.columns)

    mer_df = pd.merge(df_a[cols_use],new_df,left_index=True,right_index=True)
    sort_cols = mer_df.columns.sort_values(ascending = True)
    return mer_df[sort_cols]

In [66]:
data_a=pd.DataFrame([[1.0, 6.0, 7.0, 1.0], [8.5, 1.0, 9.0, 1.0]], columns=list('CBDE'))
data_b=pd.DataFrame([[2.5, 2.0, 2.0], [2.0, 2.0, 2.0]], columns=list('ABC'))

In [74]:
data_a.columns.intersection(data_b.columns).values

array(['C', 'B'], dtype=object)

In [77]:
temp = max_common(data_b,data_a)

In [78]:
temp

     A    B    C
0  2.5  6.0  2.0
1  2.0  2.0  8.5

In [60]:
pd.merge(left=data_b,right=temp,
            left_index=True,
            right_index=True,
            how="outer")

     A  B_x  C_x  C_y  B_y
0  2.5  2.0  2.0  2.0  6.0
1  2.0  2.0  2.0  8.5  2.0

In [80]:
for x in filter(lambda x: x > 2, [5, 7, 1, 0, 2]):
    print(x)

5
7

In [1]:
def rolldice_sum(sum_, num_dice):
    dice = range(1, 7)
    combins = []
    for val1 in dice:
        for val2 in dice:
            if val1 + val2 == sum_:
                combins.append([val1,val2])
    num_combins = len(combins)
    total_combins = 6 ** num_dice
    return num_combins/ total_combins

In [42]:
from itertools import product

def rolldice_sum(sum_, num_dice):
    res = list(product(range(1,7), repeat= num_dice))
    #print(res)
    combins = []
    for rolls in res:
        sum_loc = 0
        for x in rolls:
            sum_loc = sum_loc + x
        if sum_loc == sum_:
            combins.append(rolls)
    
    return len(combins) / len(res)

In [45]:
#functional solution
def s(x,n):
    if n==1:
        return 1 if 1<=x<=6 else 0
    else:
        return sum([s(x-i, n-1) for i in range(1,7)])
    
def rolldice_sum_prob(x, n):
    return 1.0*s(x,n)/6**n